In [105]:
import json
from datetime import datetime
import pandas as pd
import numpy as np
import pytz

In [106]:
with open('data.json', 'r') as f:
    data = json.load(f)

In [107]:
data.keys()

dict_keys(['data', 'code', 'message', 'timestamp'])

In [148]:
df = pd.DataFrame.from_dict(data['data'])
df.head()

,elemento,nick,id_dispositivo,id_tipo_dispositivo,fecha_completa,eae,eai,er1,er2,er3,er4,horario
0,Embarrado 1 Ppal,Embarrado 1 Ppal,2201,3,2022-10-01 01:00:00,0,108,0,0,0,1080,V
1,Embarrado 1 Ppal,Embarrado 1 Ppal,2201,3,2022-10-01 02:00:00,0,108,0,0,0,1092,V
2,Embarrado 1 Ppal,Embarrado 1 Ppal,2201,3,2022-10-01 03:00:00,0,120,0,0,0,1080,V
3,Embarrado 1 Ppal,Embarrado 1 Ppal,2201,3,2022-10-01 04:00:00,0,108,0,0,0,1092,V
4,Embarrado 1 Ppal,Embarrado 1 Ppal,2201,3,2022-10-01 05:00:00,0,108,0,0,0,1092,V

In [109]:
#df.to_csv('data.csv')

In [81]:
time_string = df['fecha_completa'][0]
time_string

'2022-10-01 01:00:00'

In [74]:
local_tz = pytz.timezone('Europe/Madrid')
naive = datetime.fromisoformat(ts)
naive

datetime.datetime(2022, 10, 1, 1, 0)

In [78]:
local_dt = local_tz.localize(naive, is_dst=None)
local_dt

datetime.datetime(2022, 10, 1, 1, 0, tzinfo=<DstTzInfo 'Europe/Madrid' CEST+2:00:00 DST>)

In [80]:
utc_dt = local_dt.astimezone(pytz.utc)
utc_dt

datetime.datetime(2022, 9, 30, 23, 0, tzinfo=<UTC>)

In [129]:
dst_transition = '2022-10-30 02:00:00'

In [154]:
dst_transition = '2022-10-30 02:00:00'
madrid_timezone = pytz.timezone('Europe/Madrid')
dst_transitioned = False

def convertTime(timestring):
    global dst_transitioned
    naive_datetime = datetime.fromisoformat(timestring)
    local_datetime = madrid_timezone.localize(
        naive_datetime, 
        is_dst=dst_transitioned
    )
    utc_datetime = local_datetime.astimezone(pytz.UTC)
    utc_string = utc_datetime.isoformat()
    
    if(not dst_transitioned and timestring >= dst_transition):
        dst_transitioned = True
        
    return utc_string
    
df['fecha_completa'] = df['fecha_completa'].apply(convertTime)

In [158]:
df.to_csv('data.csv')

In [119]:
a = 1
a += 1 
a

2